body {
    margin: 0px auto;
    font-family: Libre Franklin;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    text-transform: none;
    color: #000;
    min-width: 1200px;
}
body,html{
    scroll-behavior: smooth;
  }