.contact {
    padding: 79px;
    display: flex;
    color: white;
    background-color: rgba(19, 27, 102, .8);
    
    .text {
        flex: 1 1 0;
        margin-right: 20px;
        h1 {
            font-size: 57px;
            margin: 0px 0px 50px 0px;
            color: whitesmoke;
        }
        p {
            margin: 0px 0px 20px 0px;
            line-height: 25px;
        }
    }
    .input {
        flex: 1 1 0;
        input {
            box-sizing: border-box;
            width: 200px;
            height: 40px;
            border: none;
            border-radius: 2px;
            margin: 5px 0px;
            padding: 10px;
            
        }
        &>div {
            margin-bottom: 20px;
        }
        .name {
            display: flex;
            div {
                margin-right: 5px;
            }
            .lastname {
                padding-top: 22px;
            }

        }
        .email {
            width: 405px;
        }
        .telephone {
            width: 405px;
        }
        .company {
            width: 405px;
        }
        .help {
            width: 160px;
            height: 20px;
        }
        textarea {
            width: 405px;
            height: 110px;
            resize: vertical;
        }
        .checkbox {
            input {
                width: 15px;
                height: 15px;
                border: 1px solid blue;
                border-radius: 50%;
                margin-right: 10px;
            }
        }
        .submit {
            width: 100px;
            color: black;
        }
    }
    .div {
        flex: 1 1 0;
        // border: 1px solid white;
        padding: 15px;
        div {
            margin-bottom: 20px;
            font-size: 18px;
            // border: 1px solid white;
            .img {
                width: 100px;
                height: 100px;
                border: 1px solid white;
                margin: 20px;
                margin-left: 20%;
                background-image: url('../imgs/erweima.png');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }

        }
    }
    
}
::-webkit-input-placeholder {
    color: black;
  }
  :-moz-placeholder {/* Firefox 18- */
    color: black;
  }
  ::-moz-placeholder{/* Firefox 19+ */
   color: black;
  }
  :-ms-input-placeholder {
    color: black;
  }