header {
    flex: 1 1 0;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    z-index: 1000;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    background-color: rgba(19, 27, 102, .8);
    .mainnav {
        display: flex;
        min-width: 1035px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 30px;
        box-sizing: border-box;
        padding-left: 120px;
        padding-right: 50px;
        align-items: center;
        text-align: center;
        -webkit-box-pack: center;
        -webkit-box-align: center;
        .left {
            div {
                flex: 1 1 0;
                width: 200px;
                height: 93px;
                background-image: url('../imgs/logo.png');
                background-position: left;
                background-repeat: no-repeat;
                background-size: 25%;
                font-size: 45px;
                line-height: 93px;
                color: white;
                padding-left: 60px;
                margin-right: 50px;

            }
            // border: 1px solid red;

        }
        .right {
            flex: 3 1 0;
            margin-left: auto;
            padding: 7.5px 24px;
            font-weight: 400;
            font-style: normal;
            font-size: 19px;
            letter-spacing: 0em;
            text-transform: capitalize;
            color: white;
            a {
                display: inline-block;
                vertical-align: middle;
                margin: 0px 10px 0px 10px;
                text-decoration: none;
                color: white;
            }
            span {
                display: inline-block;
                vertical-align: middle;
                margin: 0px 10px 0px 10px;
                &:hover {
                    cursor: pointer;
                    color: #1cbdc1;
                    // text-decoration: underline;
                }
            }
            
        }
    }
}