.main {
    box-sizing: border-box;
    padding: 0px 74px;
    // background-color: rgba(19, 27, 102, .8);
    .mainone {
        padding: 0px 50px 30px 50px;
        h2 {
            margin: 0px;
            font-size: 45px;
            text-align: center;
            margin: 50px 0px;
            color: black;
        }
        .carousel {
          div {
            button {
              display: none;
            }
          }
          ul {
            button {
              display: inline-block;
            }
          }
          .paging-dot {
            color: white !important;
          }
        }
        .ceng1 {
            background-image: url("../imgs/z5.jpg");
            background-size: 100%;
            background-position: top left;
            background-repeat: no-repeat;
            width: 100%;
            height: 700px;
            .touming {
                width: 100%;
                height: 100%;
                background-color: rgba(19, 27, 102, .5);
                font-size: 25px;
                span {
                    display: inline-block;
                    line-height: 45px;
                    color: white;
                    margin: 300px 0px 50px 50px;
                    h1 {
                      font-size: 45px;
                      color: white;
                      margin: 0px;
                    }
                }
            }
        }  
        .ceng2 {
          background-image: url("../imgs/main0.png");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          width: 100%;
          height: 700px;
          .touming {
              width: 100%;
              height: 100%;
              background-color: rgba(19, 27, 102, .5);
              font-size: 25px;
              span {
                  display: inline-block;
                  line-height: 45px;
                  color: white;
                  margin: 300px 0px 50px 50px;
                  h1 {
                    font-size: 45px;
                    color: white;
                    margin: 0px;
                  }
                  
              }
          }
        } 
        .ceng3 {
          background-image: url("../imgs/z5.jpg");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          width: 100%;
          height: 700px;
          .touming {
              width: 100%;
              height: 100%;
              background-color: rgba(19, 27, 102, .5);
              font-size: 25px;
              span {
                  display: inline-block;
                  line-height: 45px;
                  color: white;
                  margin: 300px 0px 50px 50px;
                  h1 {
                    font-size: 45px;
                    color: white;
                    margin: 0px;
                  }
              }
          }
        } 

    }
    .maintwo {
        padding: 0px 50px 30px 50px;
        
        h2 {
            margin: 50px 0px;
            font-size: 45px;
            text-align: center;
            
            color: black;
        }
        .tese {
            display: flex;
            margin-bottom: 30px;
            .teseright {
              flex: 3 1 0;
              display: flex;
              flex-direction: column;
              height: 600px;
              color: white;
              &>div {
                height: 50%;
                display: flex;
                margin-bottom: 5px;
                div {
                  flex: 1 1 0;
                  height: 100%;
                  margin-right: 5px;
                  box-sizing: border-box;
                  // 
                  // padding-left: 30px;
                  // background-color: rgb(240, 240, 240);
                  background-size: cover;
                  background-position: center;
                  background-repeat: no-repeat;
                  font-size: 50px;
                  transition: all 1s;
                  // &:hover {
                  //   background-size: 105%;
                  //   // transition: all 1s;
                  // }
                  h4 {
                    // margin: 160px 0px 5px 0px;
                    font-size: 25px;
                    color: white;
                  }
                  p {
                    margin: 20px 0px;
                    font-size: 15px;
                  }
                  .bgc {
                    background-color: rgba(19, 27, 102, .8);
                    margin: 0px;
                    padding: 180px 20px 50px 20px;
                    &:hover {
                      background-color: rgba(19, 27, 102, .2);
                    }
                  }
                }
                .block6 {
                  margin-right: 0px;
                  margin-bottom: 0px;
                  display: inline-block;
                  background-image: url('../imgs/youshi4.png');
                  
                }
                .block1 {
                   display: inline-block;
                   background-image: url('../imgs/youshi3.png');
                }
                .block2 {
                  display: inline-block;
                  background-image: url('../imgs/youshi4.png');
                }
                .block3 {
                  margin-right: 0px;
                  display: inline-block;
                  background-image: url('../imgs/youshi2.png');
                }
                .block4 {
                  margin-bottom: 0px;
                  display: inline-block;
                  background-image: url('../imgs/youshi2.png');
                }
                .block5 {
                  margin-bottom: 0px;
                  display: inline-block;
                  background-image: url('../imgs/youshi3.png');
                }
          
              }
            }
          }

    }
    .bg {
        padding: 5px;
        background-image: url("../imgs/bg2.png");
    }
    .mainthree {
        // padding: 50px 50px 30px 0px;
        padding: 50px 50px 30px 20px;
        
        h2 {
            margin: 0px;
            font-size: 45px;
            text-align: center;
            color: black;
            padding: 0px 100px;
        }
        .flex {
            display: flex;
            margin-top: 40px;
            padding-right: 20px;
            .flexone {
                flex: 1 1 0;
                margin-left: 30px;
                padding-bottom: 50px;
                height: 400px;
                .img {
                    height: 100px;
                    background-color: pink;
                    background-image: url('../imgs/ceshi.jpg');
                    background-size: 100%;
                    background-repeat: no-repeat;
                }
                h2 {
                    margin: 15px auto;
                    font-size: 25px;
                    text-align: left;
                    color: black;
                    padding: 0px;
                    height: 30px;
                }
                p {
                    padding: 5px;
                    line-height: 25px; 
                    height: 150px;
                    font-size: 15px;
                    color: black;
                }
                .btn {
                    box-sizing: content-box;
                    width: 100px;
                    height: 20px;
                    background-color: #1CBDC1;
                    font-size: 16px;
                    color: white;
                    line-height: 20px;
                    padding: 10px 20px;
                    
                    span {
                        padding: 6px;
                        background-image: url("../imgs/enter.png");
                        background-size: 100%;
                        background-repeat: no-repeat;
                        background-position: center;
                        margin-left: 20px;
                    }
                    &:hover {
                        cursor: pointer;
                        background-color: rgba(28, 189, 193, .5);
                    }
                }
            }
        }
    }
    .mainfour {
      font-size: 45px;
    }
}
.slider-list {
  height: 500px;
}
