.main2 {
    background-color: white;
    padding: 0px 74px;
    .main2one {
        h1 {
            font-size: 27px;
            margin: 50px 0px;
        }
        .btn {
            margin-bottom: 5px;
            overflow: hidden;
            span {
                padding:10px;
                margin-left: 10px;
                background-size: 87%;
                background-repeat: no-repeat;
                background-position: center;
                &:hover {
                    cursor: pointer;
                }
            }
            .btn1 {
                margin-left: 90%;
                background-image: url("../imgs/left.png");
            }
            .btn2 {
                background-image: url("../imgs/right.png");
                background-size: 100%;
            }
        }
        .lunbo2 {
            height: 300px;
            border: 1px solid blueviolet;
        }
        
    }
    .main2two {
        h1 {
            font-size: 27px;
            margin-top: 90px;
        }
        p {
            padding: 5px;
            line-height: 25px;
            margin: 50px 0px;
            font-size: 20px;
        }
        .flexouter {
            display: flex;
            flex-direction: column;
            .flexinner {
                display: flex;
                flex: 1 1 0;
                div {
                    flex: 1 1 0;
                    height: 100%;
                    margin-right: 5px;
                    box-sizing: border-box;
                    padding: 20px;
                    background-color: pink;
                    margin: 10px 20px 20px 0px;
                    background-image: url('../imgs/ceshi2.jpg');
                    background-size: 200%;
                    background-repeat: no-repeat;
                    height: 200px;
                    h4 {
                        font-size: 16px;
                    }
                    p {
                    margin: 0px;
                    font-size: 12px;
                    }
                }
            }
        }
    }
}