.nav {
   width: 25px;
   position: fixed;
   z-index: 999;
   right: 0px;
   top:  42%;
   margin-right: 30px;
   a {
        display: block;
        width: 25px;
        height: 25px;
        background-color: rgb(128, 128, 128);
        border-radius: 50%;
        margin-bottom: 20px;
    }
    a:hover {
        background-color: #1cbdc1; 
    }
    // a:visited {
    //     background-color: #1cbdc1;
    // }
    span {
        display: none;
        width: 100px;
        height: 30px;
        line-height: 30px;
        color: rgb(177, 169, 169);
        box-sizing: border-box;
        float: left;   
        margin: -3px 0px 0px -120px;
        text-align: center;
    }
}
.clearfix:hover {
    span {
        display: block;
    }
}
.navbg {
    a {
        background-color: #1cbdc1;
    }
}